:root {
    --brand-primary: #1ABC9C;
    --secondary: #0056b3;
    --white: #fff;
    --black: #000;
    --brk-dark-base: #272727;
    --brk-base-1: #22bfa0;
    --brk-base-2: #2bceae;
    --brk-base-3: #37d8b8;
    --brk-base-4: #43dabc;
    --brk-base-5: #3ed8b9;
    --brk-base-6: #51dec2;
    --brk-base-7: #67e2ca;
    --brk-base-8: #83e2d0;
    --brk-secondary-1: #0f66c3;
    --brk-secondary-2: #2478d2;
    --brk-secondary-3: #3282d8;
    --brk-secondary-4: #5095de;
    --brk-secondary-5: #65a4e6;
    --brk-secondary-6: #76abe2;
    --text-base-color-1: #c4c4c4;
    --text-base-color-2: #00e784;
    --text-base-color-3: #f3f3f3;
    --form-color-1: #e8ecff;
    --brand-primary-rgb: 26, 188, 156;
    --secondary-rgb: 0, 229, 228;
    --white-rgb: 255, 255, 255;
    --black-rgb: 0, 0, 0;
    --brk-dark-base-rgb: 39, 39, 39;
    --brk-base-1-rgb: 41, 219, 135;
    --brk-base-2-rgb: 8, 236, 96;
    --brk-base-3-rgb: 8, 185, 87;
    --brk-base-4-rgb: 232, 236, 255;
    --brk-base-5-rgb: 107, 255, 148;
    --brk-base-6-rgb: 75, 222, 117;
    --brk-base-7-rgb: 95, 255, 164;
    --brk-base-8-rgb: 0, 177, 176;
    --brk-secondary-1-rgb: 0, 229, 228;
    --brk-secondary-2-rgb: 0, 229, 211;
    --brk-secondary-3-rgb: 0, 229, 228;
    --brk-secondary-4-rgb: 0, 240, 222;
    --brk-secondary-5-rgb: 0, 229, 228;
    --brk-secondary-6-rgb: 0, 234, 244;
    --text-base-color-1-rgb: 196, 196, 196;
    --text-base-color-2-rgb: 0, 231, 132;
    --text-base-color-3-rgb: 243, 243, 243;
    --form-color-1-rgb: 232, 236, 255;
    --b-radius: inherit
}